@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@tailwind aspect-ratio;

a {
    @apply text-blue-500 underline;
}

ul {
    @apply text-2xl ml-5 pl-5 list-disc;
}

p { @apply mb-4 }

h2 {
    @apply text-lg font-light text-gray-500;
}