@tailwind base;
@tailwind components;
@tailwind utilities;

#post-content h3 {
   font-weight: bold;
   font-size: 1.2rem;
   margin-bottom: 0.5rem;
   margin-top: 2rem;
}

#post-content p {
    @apply mb-4 text-lg font-light;
    font-size: 1rem;
}

#post-content .highlight pre {
    font-family: monospace;
    padding: 20px;
}

#post-content ul {
    list-style-type: disc;
    padding-left: 20px;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#post-content p code{
    color: #0EA5E9;
    display: inline-block;
    margin-bottom: 0.5rem;
}