@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// This is just some CSS for the welcome home landing page, feel free to 
// remove it.
.welcome {
    width: 700px;
    margin: 0 auto;
    
    img { 
        width: 300px;
    }

    h1 {
        font-size: 2rem;
    }
}