{
  "name": "{{.}}",
  "license": "MIT", 
  "scripts": {
    "build": "webpack --mode production --no-stats",
    "dev": "webpack --watch"
  },
  "version": "1.0.0",
  "dependencies": {
      "bootstrap": "4.6.0",
      "popper.js": "^1.16.1",
      "@fortawesome/fontawesome-free": "^5.12.0",
      "jquery": "3.5.1",
      "jquery-ujs": "~1.2.2"
  },
  "devDependencies": {
    "@babel/cli": "7.13.10",
    "@babel/core": "7.13.10",
    "@babel/plugin-proposal-class-properties": "7.13.0",
    "@babel/preset-env": "7.13.10",
    "@kooneko/livereload-webpack-plugin": "1.2.1",
    "autoprefixer": "10.2.5",
    "babel-loader": "8.2.2",
    "clean-webpack-plugin": "^3.0.0",
    "copy-webpack-plugin": "8.0.0",
    "core-js": "^3.6.1",
    "css-loader": "~5.0.1",
    "expose-loader": "2.0.0",
    "file-loader": "6.2.0",
    "mini-css-extract-plugin": "1.3.9",
    "postcss": "^8.2.6",
    "postcss-loader": "5.2.0",
    "postcss-scss": "^3.0.5",
    "sass": "1.32.8",
    "sass-loader": "11.0.1",
    "style-loader": "~2.0.0",
    "terser-webpack-plugin": "5.1.1",
    "url-loader": "4.1.1",
    "webpack": "5.26.0",
    "webpack-cli": "4.5.0",
    "webpack-manifest-plugin": "3.1.0"
  }
}
