<div class="py-4 text-center welcome">
    <h1 class="font-bold mb-3">Welcome to your Buffalo App!</h1>
    <img src="/assets/images/buffalo.svg" alt="buffalo-logo">
    <p>
        This is the landing page for your app, the content of this page is at <code>app/templates/home/index.html.plush</code>.
        Refresh takes care of refreshing changes you do to your code and refresh the binary. If you want to stop the application you can hit <code>Ctrl+C</code> 
        on the same terminal where you ran <code>ox dev</code>.
    </p>
</div>