<!DOCTYPE html>
<html class="h-full">
<head>
  <title>app</title>
  
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />

  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <%= stylesheetTag("application.css") %>
  <%= javascriptTag("application.js", {defer: true}) %>
</head>
<body class="h-full">
	<main class="container mt-3">
		<%= yield %>
	</main>
</body>
</html>